@import url("https://fonts.googleapis.com/css?family=Raleway");


  .TourCard {
      display: flex;
      flex-wrap:nowrap;
      justify-content: center;
      -webkit-display: box;
      -moz-display: box;
      -ms-display: flexbox;
      -webkit-display: flex;
      padding: 0;
      padding: 1rem;
      margin-bottom: 2rem;
      width: 30%;
      float: left;
      z-index: 1;
  }
/*
   .cards {

}*/

.card-item {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}

.card-item:hover {
     cursor: pointer;
     transform: scale(1.1);
     -webkit-transform: scale(1.1);
}
.card-image {
    opacity: 1;
    justify-content: center;
}

   .card-info {
       display: flex;
       justify-content: center;
       flex: 1 1 auto;
       flex-direction: column;
       padding: 1rem;
       line-height: 1.5em;
   }

.card-title {
    font-size: 25px;
    line-height: 1.1em;
    color: #32325d;
    margin-bottom: 0.2em;
}

   .card-image {
       height: 200px;
       overflow: hidden;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       border-radius: 6px 6px 0px 0px;
       opacity: 0.91;
   }



.card-info-btn-details {
    background-color: #146552;
    align-self: center;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
}

.card-info-btn-details:hover{
    transform: scale(110%);
}

.card-info-btn-edit {
    background-color: #146552;
    align-self: center;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
}

.card-info-btn-edit:hover{
    transform: scale(110%);
}

.card-info-tour{
    text-decoration: underline;
    padding: 5px;
    margin: -15px;

}

.card-info-category{
    text-decoration: underline;
    padding: 10px;
    margin: -19px;

}

.card-info-description{
    text-decoration: underline;
    padding: 10px;
    margin: -20px;

}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

.delete-button{
    display: inline-block;
    background-color: white;
    border: none;
    padding: 2px;
    margin: 10px;
    width: 40%;
    cursor: pointer;
}

.backwards-button{
    display: inline-block;
    background-color: white;
    border: none;
    padding: 2px;
    margin: 10px;
    width: 40%;
    cursor: pointer;
}
