@import url('https://fonts.googleapis.com/css?family=Raleway');




.container {
    display: flex;
    padding: 0;
    margin: 0;
}

   .cards {
       display: flex;
       padding: 1rem;
       margin-bottom: 2rem;
       width: 40%;}

.card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;


}


   .card-info {
       display: flex;
       flex: 1 1 auto;
       flex-direction: column;
       padding: 1rem;
       line-height: 1.5em;
   }

.card-title {
    font-size: 25px;
    line-height: 1.1em;
    color: #32325d;
    margin-bottom: 0.2em;
}

   .card-image{
       height: 200px;
       overflow: hidden;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       border-radius: 6px 6px 0 0;
       opacity: 0.91;
   }
